body {
  font-family: "Calibri", sans-serif;
  background-color: #f1f1f1;
  background-image: url("../images/bgimg.jpeg");
}

header {
  font-family: 'Arvo', serif;
  display: flex;
  align-items: center;
  padding: 5%;
  font-size: large;
  color: red;
}

.nav_links {
  display: flex;
  color: red;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: medium;
  padding-top: 5%;
  font-weight: 900;
  font-size: large;
}

li.nav_item {
  color: red;
}

a:link {
  text-decoration: none;
}

.nav_links .current {
  text-decoration-style: wavy;
  color: yellow;
  border: 2px solid orangered;
}

figcaption {
  font-family: "Calibri, sans-serif";
  font-size: medium;
  text-align: center;
  padding-top: 5%;
}

h1 {
  font-size: xx-large;
  padding-top: 5%;
  font-family: 'Arvo', serif;
  color: red;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  padding-top: 5%;
  font-family: 'Arvo', serif;
  color: red;
  font-weight: bold;
}

p {
  font-family: "Calibri, sans-serif";
}

.card header {
  background: red;
  border: 2px solid red;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px 10px 0px 0px;
  font-size: 6px;

}

.recent {
  min-height: 475px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  justify-content: center;

}


#logo {
  animation-name: logo;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

/*contact form starts here*/


.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 5%;
}

h3 {
  margin-top: 20%;
  font-size: x-large;
  font-family: 'Arvo', serif;
  color: red;
  font-weight: bold;
  text-align: center;
}

legend{ 
  font-size: 125%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
}

label{
  display: inline-block;
  margin-right:10px;
  width:15%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
span{
  margin-left:20%;
  font-family: italic;
  font-weight: bold;
}

textarea{
  width: 100%;
  height: 35vh;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=checkbox]{
    display:inline;
    width:inherit;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

input[type=submit]:hover {
  opacity: 0.8;
}

input:focus{
  background: orangered;
}


/*contact form ends here*/




/*grid starts here*/
.container {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px auto;
  max-width: 800px;

}

.product {
  justify-content: center;
}

.product_image {
  display: block;
  min-height: 200px;
  width: 100%;

}

/*grid ends here*/




/*flip card keybaord accessible starts here*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back h1 {
  color: white;
}

.flip-card-back {
  background-color: orangered;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
}

/*flip card keybaord accessible ends here*/




/*blog post style starts here*/

.blog {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 600px;
  margin-top: 5%;
  border-radius: 10px 10px 10px 10px;

}

.blog img {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

.blog h3 {
  margin-top: 5%;
  margin-left: 4%;
  font-weight: bold;
}

.blog p {
  margin-top: 5px;
  margin-bottom: 5%;
}

.blog:hover {
  -webkit-transform: translate(10px, -10px);
  -ms-transform: translate(10px, -10px);
  transform: translate(10px, -5px);
  -webkit-box-shadow: 0 10px 20px rgba(255, 69, 0, 0.08);
  box-shadow: 0 20px 40px rgba(255, 69, 0, 0.08);
}


/*blog post style ends here*/



/*parallax effect starts here*/
.parallax {
  background-image: url("../images/IMG_4971.JPG");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/*parallax effect ends here*/


/*carousel starts here inspired by css tricks image carouselhttps://css-tricks.com/css-only-carousel/
*/
@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-image: url("../images/IMG_2811.jpg");
  background-size: 380px;
  counter-increment: item;
  background-repeat: no-repeat;

}

.carousel__slide:nth-child(2) {
  background-image: url("../images/IMG_1472.jpg");
  background-size: 380px;
  background-repeat: no-repeat;
}

.carousel__slide:nth-child(3) {
  background-image: url("../images/IMG_1475.jpg");
  background-size: 380px;
  background-repeat: no-repeat;
}

.carousel__slide:nth-child(4) {
  background-image: url("../images/IMG_1476.jpg");
  background-size: 380px;
  background-repeat: no-repeat;
}


.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}


@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation: none;
  }

  .parallax {
    animation: none;
    background-attachment: none;

  }

  .flip-card {
   animation: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* carousel ends here*/


@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }
}


/*table starts here*/
@media screen and (min-width: 768px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100%;
  }

  .nav_links {
    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .recent {
    display: flex;
    flex-direction: row;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 200px;
    max-width: 250px;
  }

  /* tablet carousel starts here */
  .carousel__slide {
    background-image: url("../images/2811.jpg");
    background-size: cover;
  }

  .carousel__slide:nth-child(2) {
    background-image: url("../images/1472.JPG");
    background-size: cover;
  }

  .carousel__slide:nth-child(3) {
    background-image: url("../images/9749.jpg");
    background-size: cover;
  }

  .carousel__slide:nth-child(4) {
    background-image: url("../images/1476.JPG");
    background-size: cover;
  }

  /* tablet carousel ends here */

  /* tablet parallax effect starts here*/
  .parallax {
    background-image: url("../images/IMG_4971.JPG");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* tablet parallax effect ends here*/


  /* tablet grid starts here*/
  .container {
    grid-template-columns: repeat(4, 1fr);
    margin: auto;

  }
  
  /*table grid ends here*/



/*blog post style starts here*/


.blog {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.blog img {
  width: 60%;
  height: 60%;
  margin: auto;
}

/*blog post style ends here*/

/*table ends here*/

/*desktop starts here*/
@media screen and (min-width: 992px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    width: 100%;
    margin: 0;
  }

  header {
    display: flex;
    padding: 5%;
    width: 100%;
  }

  .nav_links {
    display: flex;
    color: red;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .recent {
    display: flex;
    flex-direction: row;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 200px;
  }

  /* dektop grid starts here*/
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: auto;

  }
  
  /*desktop grid ends here*/



/*blog post style starts here*/


.blog {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.blog img {
  width: 20%;
  height: 20%;
  margin-top: 5%;
}

.blog p{
  margin: 5% 10% 5% 10%;
}

/*blog post style ends here*/

/*desktop ends here*/
}
}